---
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ahmad Fayyaz</title>
  </head>
  <body class="bg-slate-950">
    <div class="main">
      <div class="hero">
        <div class="title">
          <h1>AHMAD . FAYYAZ</h1>
        </div>
        <div class="tag-line">
          <h2>
            root~/pakistan -- freshman@swarthmore_college PA (not my real email)
          </h2>
        </div>
        <div class="content"></div>
      </div>
      <div class="bottom-nav">
        <div class="col-3">
          <div class="button">
            <div class="icon">^P</div>
            <div class="label">PROJECTS</div>
          </div>
          <div class="button">
            <div class="icon">^L</div>
            <div class="label">LINKEDIN</div>
          </div>
        </div>
        <div class="col-3">
          <div class="button">
            <div class="icon">^A</div>
            <div class="label">ABOUT ME</div>
          </div>
          <div class="button">
            <div class="icon">^M</div>
            <div class="label">MYSPACE</div>
          </div>
        </div>
        <div class="col-3">
          <div class="button">
            <div class="icon">^N</div>
            <div class="label">ANIMATE!</div>
          </div>
          <div class="button">
            <div class="icon">^R</div>
            <div class="label">RANDOMIZE</div>
          </div>
        </div>
        <div class="col-3">
          <div class="button">
            <div class="icon">^U</div>
            <div class="label">INSTAGRAM</div>
          </div>
          <div class="button">
            <div class="icon">^F</div>
            <div class="label">FACEBOOK</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
