---
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ahmad Fayyaz</title>
  </head>
  <body class="bg-slate-950">
    <div class="main">
      <div class="hero">
        <div class="title">
          <h1>AHMAD . FAYYAZ</h1>
        </div>
        <div class="tag-line">
          <h2>
            root~/pakistan -- freshman@swarthmore_college PA (not my real email)
          </h2>
        </div>
        <div class="content"></div>
      </div>
      <div class="bottom-nav">
        <div class="col-3">
          <div class="button">
            <div class="icon">^V</div>
            <div class="label">Paste</div>
          </div>
          <div class="button">
            <div class="icon">^V</div>
            <div class="label">Paste</div>
          </div>
        </div>
        <div class="col-3">
          <div class="button">
            <div class="icon">^V</div>
            <div class="label">Paste</div>
          </div>
          <div class="button">
            <div class="icon">^V</div>
            <div class="label">Paste</div>
          </div>
        </div>
        <div class="col-3">
          <div class="button">
            <div class="icon">^V</div>
            <div class="label">Paste</div>
          </div>
          <div class="button">
            <div class="icon">^V</div>
            <div class="label">Paste</div>
          </div>
        </div>
        <div class="col-3">
          <div class="button">
            <div class="icon">^V</div>
            <div class="label">Paste</div>
          </div>
          <div class="button">
            <div class="icon">^V</div>
            <div class="label">Paste</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
